<div class="container-fluid">
   <div class="row">
      <div class="col-sm-12">
         <h1 class="text-center">Autocar</h1>
      </div>
   </div>
   <div class="row">
      <div id="botones" class="col-sm-12 text-center">
         <a class="btn btn-primary btn-lg" href="#/car/music/">Musica</a>
      </div>
      <div id="botones" class="col-sm-12 text-center">
         <a class="btn btn-primary btn-lg" href="#/car/comfort/">Comfort</a>
      </div>
      <div id="botones" class="col-sm-12 text-center">
         <a class="btn btn-primary btn-lg" href="">Cambiar destino</a>
      </div>
   </div>
</div>