<div class="container-fluid">
  <div class="row text-center">
    <h1>Lugares favoritos</h1>
  </div>

<br>
<div class="col-md-10">

<div class="row">
   <div class="col-md-5">
      <h3>De todos los tiempos</h3>
   </div>
   <div class="col-md-5 col-md-offset-1">
      <h3>Febrero</h3>
   </div>
</div>

<div class="col-md-5">
  <div class="list-group">
   <a href="#/order" class="list-group-item">
         <span class="badge">100+</span>
         La Fruteria
   </a>
   <a href="#/order" class="list-group-item">
      <span class="badge">20+</span>
      La Guacamaya
   </a>
   <a href="#/order" class="list-group-item">
      <span class="badge">3</span>
      Neblina
   </a>
  </div>
</div>

<div class="col-md-5 col-md-offset-1">
  <div class="list-group">
   <a href="#/order" class="list-group-item">
         <span class="badge">100+</span>
         La Fruteria
   </a>
   <a href="#/order" class="list-group-item">
      <span class="badge">20+</span>
      La Guacamaya
   </a>
   <a href="#/order" class="list-group-item">
      <span class="badge">3</span>
      Neblina
   </a>
  </div>
</div>
</div>

<div class="col-md-2">
<!-- <div class="col-md-2 col-md-offset-1"> -->
   <div class="panel panel-primary">
      <div class="panel-heading">
         Información de interes
      </div>
      <div class="panel-body">
         <p>Se listan los 10 lugares más visitados con la cantidad de veces.<br></p>
      </div>
   </div>
</div>
</div>