<div class="container text-center">
  <h1>Introduzca sus datos</h1>
  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="Input1" placeholder="Usuario">
    </div>
    <div class="form-group">
      <input type="password" class="form-control" id="Input1" placeholder="Clave">
    </div>
    <div class="form-group">
      <a class="btn btn-default" href="#/" role="button">Iniciar Sesión</a>
    </div>
    <div class="form-group">
      <a class="btn btn-default" href="#/register" role="button">Registrarse</a>
    </div>
    <div class="form-group">
      <a class="link">¿Olvidó su contrasseña?</a>
    </div>
  </form>
</div>