<div class="col-md-12" style="height:50px;"></div>


<div class="row">
  <div class="col-md-6 center-block text-center" style="float: none">
    <h2>Bienvenido</h2>
  </div>
</div>

<div class="col-md-12" style="height:50px;"></div>


<div class="row">
  <div class="col-md-4 text-center">
    <div class="row">
      <i class="fa fa-map-o fa-4x"></i>
    </div>
    <div class="row" style="height:20px;"></div>
    <div class="row">
      <a class="btn btn-primary" href="#/" role="button">Ver Tráfico</a>
    </div>
  </div>
  <div class="col-md-4 text-center with-separators">
    <div class="row">
      <i class="fa fa-car fa-4x"></i>
    </div>
    <div class="row" style="height:20px;"></div>
    <div class="row">
      <a class="btn btn-primary" href="#/" role="button">Pedir Carro</a>
    </div>
  </div>
  <div class="col-md-4 text-center">
    <div class="row">
      <i class="fa fa-star-o fa-4x"></i>
    </div>
    <div class="row" style="height:20px;"></div>
    <div class="row">
      <a class="btn btn-primary" href="#/profile/favorite/" role="button">Ver Lugares Favoritos</a>
    </div>
  </div>

</div>


