<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" data-target="#inicio">Tráfico</a></li>
</ul>

<div class="tab-content">
  <div id="inicio" class="tab-pane fade in active">
    <div class="row">
      <div class="col-md-7">
        <iframe width="600" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJA7CKHdpYKowR75odH3PB5qU&destination=place_id:ChIJEbFA0vxYKowRMJcgyrVxkiM&key=AIzaSyDGN7_XC3ZMvsu8IuTwPCdgrM2VfwliWR0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>